name: Build Node.js

on: 
  pull_request:
    types: [opened, reopened]
  workflow_call:
    inputs:
      runs-on:
        description: The Platform to execute on
        type: string
        default: ubuntu-latest
      node-version:
        description: The version of node to be used
        type: string
        default: 18.x
      project-folder:
        description: The folder containing the project to build
        type: string
        default: .
  

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v3
    - run: echo ${{env}}
    - run: echo inputs ${{inputs}}
    - run: echo inputs ${{github.event.inputs}}
    - uses: actions/setup-node@v3
      with:
        node-version: 18.x
        check-latest: true

    - name: Cache node modules
      id: cache-npm
      uses: actions/cache@v3
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
      name: List the state of node modules
      continue-on-error: true
      run: npm list

    - name: Install dependencies
      run: npm ci --legacy-peer-deps

    - name: Build
      run: npm run build  --if-present 
           
    - name: Upload a Build Artifact
      uses: Actions/upload-artifact@v2.2.2
      with:
        name: build-${{ github.event.number }}
        path: dist
        if-no-files-found: error

    - name: Zip Files
      run: zip -qq r dist.zip dist
